{% extends 'admin.twig' %}

{% block content %}

<div vue-entry="CoreHome.ContentBlock" content-title="{{ title }}" rate="true">
    <p>
        This plugin helps you to Backup and export your database, and also to restore it.
    </p>
    <p>
        Make sure your DB user has Process tables privileges.
<pre>
    GRANT PROCESS ON {{dbName}}.* TO '{{dbUser}}'@'YOUR_HOST_OR_%';
    FLUSH PRIVILEGES;
</pre>
    </p>
    <p>
        <form action="{{ linkTo({'action': 'downloadDbDump'}) }}" method="post">
            <p>
                <span>
                    <label>
                        <input type="checkbox" name="zipDownload" id="zipDownload" value="1" {% if zipPreference %}checked{% endif %} />
                        <span>Download as ZIP</span>
                    </label>
                </span>
            </p>
            <p>
                <button type="submit" class="btn btn-primary">Download DB Dump</button>
            </p>
        </form>
    </p>
</div>

<div vue-entry="CoreHome.ContentBlock" content-title="{{ import_title }}" rate="true">
    <form action="{{ linkTo({'action': 'handleDbUpload'}) }}" method="post" enctype="multipart/form-data">
    <p>
        This is a great feature if you need to import a database dump into your local machine.
        If you are using this feature on your production server, make sure that you know
        what you are doing and that you have a recent backup of your database.
    </p>
    <p>
        <b>Your current database will be deleted and replaced by the uploaded database dump.</b>
    </p>
    <p>
        <b>PHP Constraints:</b>
        <ul>
            <li>memory_limit: {{phpSettings.memory_limit}}</li>
            <li>upload_max_filesize: {{phpSettings.upload_max_filesize}}</li>
            <li>post_max_size: {{phpSettings.post_max_size}}</li>
        </ul>
    </p>
    <p>
        Select database dump(.sql) to upload:
        <input type="file" name="dbDump" id="dbDump">
    </p>
        <br>
        <input type="submit" class="btn btn-primary" value="Upload Database" name="submit">
    </form>
</div>
{% endblock %}